/*
 * Copyright (c) 2015, Shigemi ISHIDA
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of the Institute nor the names of its contributors
 *    may be used to endorse or promote products derived from this software
 *    without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE INSTITUTE AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE INSTITUTE OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font: normal 0.9em "arial","geneva",sans-serif;
}
body {
    background-color: #ffffff;
    margin: 20px;
}
a {
    text-decoration: none;
}
strong {
    color: #c00;
}
.nav {
    font-size: 20px;
    text-align: right;
}
.section {
    margin: 2em 0;
}
.footer {
    margin: 2em 0;
    padding-top: 0.5em;
    border-top: solid 1px #ccc;
    text-align: center;
    font-size: 80%;
    color: #777;
}
.page-title {
    color: #b30000;
}
.type_input {
    margin-top: 10px;
    margin-bottom: 10px;
}
#input_kana {
    width: 100%;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 18px;
    line-height: 1.5;
}
#info, #ajax_status {
    margin: 2em auto 0 auto;
    font-size: 18px;
    line-height: 1.5;
    width: 90%;
    text-align: center;
    font-weight: bold;
}
#info {
    color: blue;
}
.hidden {
    visibility: hidden;
}
.problems {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
#problems {
    width: 100%;
    table-layout: fixed;
    font-size: 18px;
    line-height: 1.5;
    border-collapse: collapse;
    cellspacing: 10px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
#problems td {
    width: 32%;
    vertical-align: top;
    padding: 4px 10px;
}
td.text, td.kana {
    border-right: solid 1px #777;
}
#problems tr.dim {
    color: gray;
}
#problems tr.sel {
    font-weight: bold;
}
#problems span.typed {
    color: red;
}
.status {
    margin: 0 5px 0 auto;
}
.button-error {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60);
}
.result, .config {
    margin: 0.5em 0;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 20px;
    line-height: 1.2;
}
.start_time {
    display: none;
}
.result #elapsed_time.done {
    color: blue;
}
.plots {
    margin: 30px 0;
    padding: 10px;
    border: solid 1px #ccc;
}
@media (min-width: 64em) {
    #indiv_plot {
	margin: 0 20px;
    }
}
